MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/profile-api?retryWrites=true&w=majority
PORT=3000
MONGODB_URI_TEST=mongodb+srv://fasakinhenry_db_user:4TyGn8zAt5hBwTXp@cluster0.ga3fpxw.mongodb.net/
